
header{    
    background-position: center center;
    height: 350px;
    background-image: url(img/bg2.jpg);;
}

h1{
    background-color: rgba(248, 248, 248, 0.70);
    margin-top: 80px;
    padding-left: 1rem;   
    font-family: Open Sans;
    font-size: 50px;
    color: rgb(167, 145, 21);
    font-weight: bold; 
}

h2{    
    margin-top: 10px;   
    color: #416618; 
    font-variant: small-caps;
    padding: 3px 15px;
    font-size: 18px;
}

h3{    
    font-weight: bold;
    color: #894f3b; 
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;   
}



thead>tr:first-child{    
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.navbar {
    background-color: #fd8800;
}

p{
    text-align: justify;
    text-indent: 15px;
}

.also {
    font-family: monospace;
    text-align: center;
}

hr{
    background-color: red;
}

.js{
    width: 100%;
    text-align: center;
    font-family: Open Sans;
    background-color: tan;
}



.bal{
    
    float: left;
    width:50%; 
    padding: 1px;   
    border: 3px solid blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    text-align: left;
}
.jobb{
    
    float: right;
    width:50%;
    padding: 1px;
    border: 3px solid blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    text-align: left;
}
.tarto{
    margin: 3px auto;
    width: 100%;
    display:flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;

}
.felso{
    width:60%;
    border: 3px solid blue;
    margin: 10px auto;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
}

.szoveg{
    width:85%;
    border: 1px solid blue;
    border-radius: 2px;
    background-color: antiquewhite;
    padding: 3px;
    text-align: left;
}

.hozzaszolas{
    width: 100%;
    border: 3px solid blue;
    margin: 10px auto;
    padding: 10px;
    background-color: burlywood;
}

.hozzaszol{
    width: 100%;
    background-color: rgb(96, 94, 221);
}

.menu{
    color: cornsilk;
    font-family: Open Sans;
    font-size: 18px;
        
}

a{
    color: rgb(167, 145, 21);
}